<ul>
  <li>
  </li>
  <li>Data-Preparation
  <ul>
  <li>1-Débuter_avec_Pandas
    <ul>
    <li>Exercices_et_Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/1-Débuter_avec_Pandas/Exercices_et_Solutions/1_Exercices.html'>1_Exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/1-Débuter_avec_Pandas/Exercices_et_Solutions/1_Solutions.html'>1_Solutions.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/1-Débuter_avec_Pandas/Workshop/1_Débuter_avec_pandas_exercices.html'>1_Débuter_avec_pandas_exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/1-Débuter_avec_Pandas/Workshop/1_Débuter_avec_pandas_solutions.html'>1_Débuter_avec_pandas_solutions.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>2-Handling_Missing_Data
    <ul>
    <li>Exercices_et_Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/2-Handling_Missing_Data/Exercices_et_Solutions/Exercices_Handling_missing_data.html'>Exercices_Handling_missing_data.html</a></li>
      <li><a href='notebooks/Data-Preparation/2-Handling_Missing_Data/Exercices_et_Solutions/Exercices_et_solutions_Handling_missing_data.html'>Exercices_et_solutions_Handling_missing_data.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/2-Handling_Missing_Data/Workshop/2_Handling_Missing_Data.html'>2_Handling_Missing_Data.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>3-Data_Transformation
    <ul>
    <li>Exercices_et_Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/3-Data_Transformation/Exercices_et_Solutions/Exercices.html'>Exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/3-Data_Transformation/Exercices_et_Solutions/Solutions.html'>Solutions.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/3-Data_Transformation/Workshop/3_Data_Transformation.html'>3_Data_Transformation.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Capstone_Project
    <ul>
    <li><a href='notebooks/Data-Preparation/Capstone_Project/Capstone_Project_avec_trou_de_code.html'>Capstone_Project_avec_trou_de_code.html</a></li>
    <li><a href='notebooks/Data-Preparation/Capstone_Project/Capstone_Project_gestion_des_données_catégorielles_dans_Python.html'>Capstone_Project_gestion_des_données_catégorielles_dans_Python.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Statistics-Python
  <ul>
  <li>Exercices
    <ul>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li><a href='notebooks/Data-Statistics-Python/Solution/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Visualisation
  <ul>
  <li>Bokeh
    <ul>
    <li><a href='notebooks/Data-Visualisation/Bokeh/raw_intro_to_plotting_with_bokeh.html'>raw_intro_to_plotting_with_bokeh.html</a></li>
    </ul>
  </li>
  <li>Plotly
    <ul>
    <li><a href='notebooks/Data-Visualisation/Plotly/Clean_house_prices_data_visualization_with_plotly.html'>Clean_house_prices_data_visualization_with_plotly.html</a></li>
    <li><a href='notebooks/Data-Visualisation/Plotly/Plotly_Gapminder_In_Colab.html'>Plotly_Gapminder_In_Colab.html</a></li>
    <li><a href='notebooks/Data-Visualisation/Plotly/px_gapminder.html'>px_gapminder.html</a></li>
    </ul>
  </li>
  <li>Seaborn
    <ul>
    <li>raw
      <ul>
      <li><a href='notebooks/Data-Visualisation/Seaborn/raw/iris-data-visualization.html'>iris-data-visualization.html</a></li>
      <li><a href='notebooks/Data-Visualisation/Seaborn/raw/titanic-data-visualization-and-ml.html'>titanic-data-visualization-and-ml.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>matplotlib
    <ul>
    <li><a href='notebooks/Data-Visualisation/matplotlib/DataViz_avec_matplotlib.html'>DataViz_avec_matplotlib.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Exercices_et_Solutions_STAT
  <ul>
  <li><a href='notebooks/Exercices_et_Solutions_STAT/1_Exercices-stat.html'>1_Exercices-stat.html</a></li>
  <li><a href='notebooks/Exercices_et_Solutions_STAT/1_Solutions-stat.html'>1_Solutions-stat.html</a></li>
  </ul>
</li>
</ul>
