<ul>
<li></li>
<li>Data-Preparation
  <ul>
  <li>1-Debuter-avec-Pandas
    <ul>
    <li>Exercices-et-Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/1-Debuter-avec-Pandas/Exercices-et-Solutions/1_Exercices.html'>1_Exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/1-Debuter-avec-Pandas/Exercices-et-Solutions/1_Solutions.html'>1_Solutions.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/1-Debuter-avec-Pandas/Workshop/1_Débuter_avec_pandas_exercices.html'>1_Débuter_avec_pandas_exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/1-Debuter-avec-Pandas/Workshop/1_Débuter_avec_pandas_solutions.html'>1_Débuter_avec_pandas_solutions.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>2-Handling-Missing-Data
    <ul>
    <li>Exercices-et-Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/2-Handling-Missing-Data/Exercices-et-Solutions/Exercices_Handling_missing_data.html'>Exercices_Handling_missing_data.html</a></li>
      <li><a href='notebooks/Data-Preparation/2-Handling-Missing-Data/Exercices-et-Solutions/Exercices_et_solutions_Handling_missing_data.html'>Exercices_et_solutions_Handling_missing_data.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/2-Handling-Missing-Data/Workshop/2_Handling_Missing_Data.html'>2_Handling_Missing_Data.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>3-Data-Transformation
    <ul>
    <li>Exercices-et-Solutions
      <ul>
      <li><a href='notebooks/Data-Preparation/3-Data-Transformation/Exercices-et-Solutions/Exercices.html'>Exercices.html</a></li>
      <li><a href='notebooks/Data-Preparation/3-Data-Transformation/Exercices-et-Solutions/Solutions.html'>Solutions.html</a></li>
      </ul>
    </li>
    <li>Workshop
      <ul>
      <li><a href='notebooks/Data-Preparation/3-Data-Transformation/Workshop/3_Data_Transformation.html'>3_Data_Transformation.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Capstone-Project
    <ul>
    <li><a href='notebooks/Data-Preparation/Capstone-Project/Capstone_Project_avec_trou_de_code.html'>Capstone_Project_avec_trou_de_code.html</a></li>
    <li><a href='notebooks/Data-Preparation/Capstone-Project/Capstone_Project_gestion_des_données_catégorielles_dans_Python.html'>Capstone_Project_gestion_des_données_catégorielles_dans_Python.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Statistics-Python
  <ul>
  <li>Exercices
    <ul>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Exercices/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li><a href='notebooks/Data-Statistics-Python/Solution/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Data-Statistics-Python/Solution/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Data-Visualisation
  <ul>
  <li>Bokeh
    <ul>
    <li><a href='notebooks/Data-Visualisation/Bokeh/raw_intro_to_plotting_with_bokeh.html'>raw_intro_to_plotting_with_bokeh.html</a></li>
    </ul>
  </li>
  <li>Plotly
    <ul>
    <li><a href='notebooks/Data-Visualisation/Plotly/Clean_house_prices_data_visualization_with_plotly.html'>Clean_house_prices_data_visualization_with_plotly.html</a></li>
    <li><a href='notebooks/Data-Visualisation/Plotly/Plotly_Gapminder_In_Colab.html'>Plotly_Gapminder_In_Colab.html</a></li>
    <li><a href='notebooks/Data-Visualisation/Plotly/px_gapminder.html'>px_gapminder.html</a></li>
    </ul>
  </li>
  <li>Seaborn
    <ul>
    <li>raw
      <ul>
      <li><a href='notebooks/Data-Visualisation/Seaborn/raw/iris-data-visualization.html'>iris-data-visualization.html</a></li>
      <li><a href='notebooks/Data-Visualisation/Seaborn/raw/titanic-data-visualization-and-ml.html'>titanic-data-visualization-and-ml.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>matplotlib
    <ul>
    <li><a href='notebooks/Data-Visualisation/matplotlib/DataViz_avec_matplotlib.html'>DataViz_avec_matplotlib.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Deep-Learning-CNN
  <ul>
  <li>Project-Exercices
    <ul>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Exercices/1_Extract_Car_Images_using_web_scrapping.html'>1_Extract_Car_Images_using_web_scrapping.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Exercices/2_Image_Preprocessing_and_Data_Augmentation.html'>2_Image_Preprocessing_and_Data_Augmentation.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Exercices/3_CNN_Model_Transfer_Learning.html'>3_CNN_Model_Transfer_Learning.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Exercices/4_Fine_Tuning.html'>4_Fine_Tuning.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Exercices/5_Confusion_matrix.html'>5_Confusion_matrix.html</a></li>
    </ul>
  </li>
  <li>Project-Solutions
    <ul>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Solutions/1_Web_scraping_solution.html'>1_Web_scraping_solution.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Solutions/2_Image_preprocessing_solution.html'>2_Image_preprocessing_solution.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Solutions/3_CNN_Model_Transfer_Learning.html'>3_CNN_Model_Transfer_Learning.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Solutions/4_Fine_Tuning.html'>4_Fine_Tuning.html</a></li>
    <li><a href='notebooks/Deep-Learning-CNN/Project-Solutions/5_Confusion_matrix.html'>5_Confusion_matrix.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Deep-Learning-Neural-Networks
  <ul>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/CNN_Cats_vs_Dogs.html'>CNN_Cats_vs_Dogs.html</a></li>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/Hello_NN_World_TF.html'>Hello_NN_World_TF.html</a></li>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/LSTM_Forecast.html'>LSTM_Forecast.html</a></li>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/MNIST_in_Keras.html'>MNIST_in_Keras.html</a></li>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/Perceptron-Scikit.html'>Perceptron-Scikit.html</a></li>
  <li><a href='notebooks/Deep-Learning-Neural-Networks/Perceptron-Torch.html'>Perceptron-Torch.html</a></li>
  </ul>
</li>
<li>Fondamentaux-Python
  <ul>
  <li>Days_01
    <ul>
    <li><a href='notebooks/Fondamentaux-Python/Days_01/01-Print_Formatting_with_Strings.html'>01-Print_Formatting_with_Strings.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_01/02-Variable_Assignment.html'>02-Variable_Assignment.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_01/03-Numbers.html'>03-Numbers.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_01/04-Strings.html'>04-Strings.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_01/05-String_methods_and_operations.html'>05-String_methods_and_operations.html</a></li>
    <li>Projets
      <ul>
      <li>Exercises
        <ul>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/00-Project-Input_and_Output_Strings.html'>00-Project-Input_and_Output_Strings.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/01-Les_nombres.html'>01-Les_nombres.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/01-Lesson-Variables.html'>01-Lesson-Variables.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/01-Project-Calculations.html'>01-Project-Calculations.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/02-Lesson-Type_Conversion.html'>02-Lesson-Type_Conversion.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/02-Project-Interactive_Calculations.html'>02-Project-Interactive_Calculations.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/03-Specialization_Exercises-Empty.html'>03-Specialization_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/04-Test_Exercises-Empty.html'>04-Test_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/05-Test_Exercises-Empty.html'>05-Test_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/06-Specialization_Exercises-Empty.html'>06-Specialization_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/07-Project_LEET-Empty.html'>07-Project_LEET-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/08-Project_Converter-Empty.html'>08-Project_Converter-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Exercises/TD1.html'>TD1.html</a></li>
        </ul>
      </li>
      <li>Solutions
        <ul>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/00-Project-Input_and_Output_Strings.html'>00-Project-Input_and_Output_Strings.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/01-Lesson-Variables.html'>01-Lesson-Variables.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/01-Project-Calculations.html'>01-Project-Calculations.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/02-Lesson-Type_Conversion.html'>02-Lesson-Type_Conversion.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/02-Project-Interactive_Calculations.html'>02-Project-Interactive_Calculations.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/03-Specialization_Exercises-Empty.html'>03-Specialization_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/04-Test_Exercises-Solution.html'>04-Test_Exercises-Solution.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/05-Test_Exercises-Solution.html'>05-Test_Exercises-Solution.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_01/Projets/Solutions/06-Specialization_Exercises-Solution.html'>06-Specialization_Exercises-Solution.html</a></li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Days_02
    <ul>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/01-Lists.html'>01-Lists.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/02-Tuples.html'>02-Tuples.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/03-Dictionaries.html'>03-Dictionaries.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/04-Sets.html'>04-Sets.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/05-Conversion.html'>05-Conversion.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/06-Comparison_Operators.html'>06-Comparison_Operators.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/07-Chained_Comparison_Operators.html'>07-Chained_Comparison_Operators.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_02/08-if,_elif,_and_else_Statements.html'>08-if,_elif,_and_else_Statements.html</a></li>
    <li>Projets
      <ul>
      <li>Exercises
        <ul>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/01-Test_Exercises_lists-Empty.html'>01-Test_Exercises_lists-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/02-Test_Exercises_dicts-Empty.html'>02-Test_Exercises_dicts-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/03-Specialization_Exercises-Empty.html'>03-Specialization_Exercises-Empty.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/04-Lesson-Program_Flow.html'>04-Lesson-Program_Flow.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/05-Project-Car_Ensurance.html'>05-Project-Car_Ensurance.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_02/Projets/Exercises/Controle_des_connaissances__(Notion_de_base).html'>Controle_des_connaissances__(Notion_de_base).html</a></li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Days_03
    <ul>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/04-for_Loops.html'>04-for_Loops.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/05-while_Loops.html'>05-while_Loops.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/06-List_Comprehensions.html'>06-List_Comprehensions.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/Contrôle_des_connaissances.html'>Contrôle_des_connaissances.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/Exercices_avec_solutions_sur_les_listes_en_Python.html'>Exercices_avec_solutions_sur_les_listes_en_Python.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_03/Les_dictionnaires_en_Python.html'>Les_dictionnaires_en_Python.html</a></li>
    <li>projet
      <ul>
      <li>Exercices
        <ul>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/04-Lesson-Random.html'>04-Lesson-Random.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html'>04-Project-Math_Game_and_Rock-Paper-Scissor_Game.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/05-Project-Jumbled_Game.html'>05-Project-Jumbled_Game.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/06-Lesson-Loops.html'>06-Lesson-Loops.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/06-Project-Hangman_Game.html'>06-Project-Hangman_Game.html</a></li>
        <li><a href='notebooks/Fondamentaux-Python/Days_03/projet/Exercices/08-Lesson-Dictionaries.html'>08-Lesson-Dictionaries.html</a></li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li>Days_04
    <ul>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/01_ReadFile.html'>01_ReadFile.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/02-Functions.html'>02-Functions.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/02_WriteFile.html'>02_WriteFile.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/03-Function_Practice_Exercises.html'>03-Function_Practice_Exercises.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/04-Function_Practice_Exercises-Solutions.html'>04-Function_Practice_Exercises-Solutions.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/05-Lambda-Expressions-Map-and-Filter.html'>05-Lambda-Expressions-Map-and-Filter.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/06-Nested_Statements_and_Scope.html'>06-Nested_Statements_and_Scope.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/07-args_and_kwargs.html'>07-args_and_kwargs.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/08-Functions_and_Methods_Homework.html'>08-Functions_and_Methods_Homework.html</a></li>
    <li><a href='notebooks/Fondamentaux-Python/Days_04/09-Functions_and_Methods_Homework-Solutions.html'>09-Functions_and_Methods_Homework-Solutions.html</a></li>
    <li>project
      <ul>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/07-Lesson-Functions.html'>07-Lesson-Functions.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/07-Project-Caesar_Cipher.html'>07-Project-Caesar_Cipher.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/08-Project-Capitals_and_Frequency_Count.html'>08-Project-Capitals_and_Frequency_Count.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/09-Lesson-CSV_files.html'>09-Lesson-CSV_files.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/09-Project-CSV_files.html'>09-Project-CSV_files.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/10-Lesson-Recursion.html'>10-Lesson-Recursion.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/10-Project-Tower_of_Hanoi.html'>10-Project-Tower_of_Hanoi.html</a></li>
      <li><a href='notebooks/Fondamentaux-Python/Days_04/project/11-Lesson-Comprehension.html'>11-Lesson-Comprehension.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li>Google_AI
  <ul>
  <li><a href='notebooks/Google_AI/Comparaison_outils_analyse_sentiments.html'>Comparaison_outils_analyse_sentiments.html</a></li>
  <li><a href='notebooks/Google_AI/Computer_Vision_Corrige.html'>Computer_Vision_Corrige.html</a></li>
  <li><a href='notebooks/Google_AI/LSTM_IMDB_Sentiment_Example.html'>LSTM_IMDB_Sentiment_Example.html</a></li>
  <li><a href='notebooks/Google_AI/RNN_text_generation.html'>RNN_text_generation.html</a></li>
  <li><a href='notebooks/Google_AI/Sentiment_Analysis_Airlines.html'>Sentiment_Analysis_Airlines.html</a></li>
  <li><a href='notebooks/Google_AI/Sentiment_analysis_twitter.html'>Sentiment_analysis_twitter.html</a></li>
  <li><a href='notebooks/Google_AI/Speech_Reco.html'>Speech_Reco.html</a></li>
  <li><a href='notebooks/Google_AI/Synthèse_vocale.html'>Synthèse_vocale.html</a></li>
  </ul>
</li>
<li>Machine-Learning
  <ul>
  <li>00-DATA
    <ul>
    <li><a href='notebooks/Machine-Learning/00-DATA/00-Cancer_Dataset-Exercice.html'>00-Cancer_Dataset-Exercice.html</a></li>
    <li><a href='notebooks/Machine-Learning/00-DATA/00-Cancer_Dataset-Solution.html'>00-Cancer_Dataset-Solution.html</a></li>
    </ul>
  </li>
  <li>01-SUPERVISED
    <ul>
    <li>01.REGRESSION
      <ul>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/01.REGRESSION/01-Simple_Linear_Regression-Diabetes-Exercice.html'>01-Simple_Linear_Regression-Diabetes-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/01.REGRESSION/01-Simple_Linear_Regression-Diabetes-Solution.html'>01-Simple_Linear_Regression-Diabetes-Solution.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/01.REGRESSION/02-Multiple_Linear_Regression-Housing-Exercice.html'>02-Multiple_Linear_Regression-Housing-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/01.REGRESSION/02-Multiple_Linear_Regression-Housing-Solution.html'>02-Multiple_Linear_Regression-Housing-Solution.html</a></li>
      </ul>
    </li>
    <li>02.CLASSIFICATION
      <ul>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/01-KNN-Cancer-Exercice.html'>01-KNN-Cancer-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/01-KNN-Cancer-Solution.html'>01-KNN-Cancer-Solution.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/02-Logistic_Regression-Cancer-Exercice.html'>02-Logistic_Regression-Cancer-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/02-Logistic_Regression-Cancer-Solution.html'>02-Logistic_Regression-Cancer-Solution.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/03-Support_Vector_Machines-Cancer-Exercice.html'>03-Support_Vector_Machines-Cancer-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/03-Support_Vector_Machines-Cancer-Solution.html'>03-Support_Vector_Machines-Cancer-Solution.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/04-Decision_Trees-Cancer-Exercice.html'>04-Decision_Trees-Cancer-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/04-Decision_Trees-Cancer-Solution.html'>04-Decision_Trees-Cancer-Solution.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/05-Random_Forests-_Cancer-Exercice.html'>05-Random_Forests-_Cancer-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/01-SUPERVISED/02.CLASSIFICATION/05-Random_Forests-_Cancer-Solution.html'>05-Random_Forests-_Cancer-Solution.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>02-UNSUPERVISED
    <ul>
    <li>01.CLUSTERING
      <ul>
      <li><a href='notebooks/Machine-Learning/02-UNSUPERVISED/01.CLUSTERING/01-KMeans-Customers-Exercice.html'>01-KMeans-Customers-Exercice.html</a></li>
      <li><a href='notebooks/Machine-Learning/02-UNSUPERVISED/01.CLUSTERING/01-KMeans-Customers-Solution.html'>01-KMeans-Customers-Solution.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li>03-USE_CASE
    <ul>
    <li><a href='notebooks/Machine-Learning/03-USE_CASE/House_Price_Prediction-Exercice.html'>House_Price_Prediction-Exercice.html</a></li>
    <li><a href='notebooks/Machine-Learning/03-USE_CASE/House_Price_Prediction-Solution.html'>House_Price_Prediction-Solution.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Reinforcement-Learning
  <ul>
  <li><a href='notebooks/Reinforcement-Learning/1_MNIST_in_Keras_PART1_ANN_Exercise.html'>1_MNIST_in_Keras_PART1_ANN_Exercise.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/1_MNIST_in_Keras_PART1_ANN_Solution.html'>1_MNIST_in_Keras_PART1_ANN_Solution.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/2_MNIST_in_Keras_PART2_CNN_Exercise.html'>2_MNIST_in_Keras_PART2_CNN_Exercise.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/2_MNIST_in_Keras_PART2_CNN_Solution.html'>2_MNIST_in_Keras_PART2_CNN_Solution.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/3_games.html'>3_games.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/Hello_ML_World.html'>Hello_ML_World.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/Kung_foo.html'>Kung_foo.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/Neural_Network_from_scratch.html'>Neural_Network_from_scratch.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL.html'>RL.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL_Cartpole.html'>RL_Cartpole.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL_FR_debug.html'>RL_FR_debug.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL_TAXI.html'>RL_TAXI.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL_from_scratch.html'>RL_from_scratch.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/RL_in_SE_Frozen_Lake.html'>RL_in_SE_Frozen_Lake.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/Walker.html'>Walker.html</a></li>
  <li>examples
    <ul>
    <li>tutorials
      <ul>
      <li><a href='notebooks/Reinforcement-Learning/examples/tutorials/lunar_lander.html'>lunar_lander.html</a></li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href='notebooks/Reinforcement-Learning/frozen_desserts_forecasting_LSTM_TF.html'>frozen_desserts_forecasting_LSTM_TF.html</a></li>
  <li><a href='notebooks/Reinforcement-Learning/tennis.html'>tennis.html</a></li>
  </ul>
</li>
<li>Statistics-With-Python
  <ul>
  <li>Exercices
    <ul>
    <li><a href='notebooks/Statistics-With-Python/Exercices/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Exercices/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Exercices/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Exercices/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Exercices/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Exercices/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li><a href='notebooks/Statistics-With-Python/Solution/1_Descriptive_Statistics.html'>1_Descriptive_Statistics.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Solution/3_Matrice_de_Confusion.html'>3_Matrice_de_Confusion.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Solution/4-Distribution_de_Probabilités_avec_Python​.html'>4-Distribution_de_Probabilités_avec_Python​.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Solution/5_Probability_(using_Python).html'>5_Probability_(using_Python).html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Solution/6_Statistial_Experiments_and_Significance_Testing.html'>6_Statistial_Experiments_and_Significance_Testing.html</a></li>
    <li><a href='notebooks/Statistics-With-Python/Solution/7_Regression_Linéaire.html'>7_Regression_Linéaire.html</a></li>
    </ul>
  </li>
  </ul>
</li>
<li>Web-Interface-API
  <ul>
  <li>.ipynb_checkpoints
    <ul>
    <li><a href='notebooks/Web-Interface-API/.ipynb_checkpoints/Untitled-checkpoint.html'>Untitled-checkpoint.html</a></li>
    <li><a href='notebooks/Web-Interface-API/.ipynb_checkpoints/step_1-checkpoint.html'>step_1-checkpoint.html</a></li>
    </ul>
  </li>
  <li><a href='notebooks/Web-Interface-API/step2.html'>step2.html</a></li>
  <li><a href='notebooks/Web-Interface-API/step_1.html'>step_1.html</a></li>
  </ul>
</li>
<li>Web-Scraping
  <ul>
  <li>Exercice
    <ul>
    <li><a href='notebooks/Web-Scraping/Exercice/1_Web_Scrapping_with_Selenium.html'>1_Web_Scrapping_with_Selenium.html</a></li>
    <li><a href='notebooks/Web-Scraping/Exercice/2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html'>2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</a></li>
    <li><a href='notebooks/Web-Scraping/Exercice/3_Web_Scraping_avec_Scrapy.html'>3_Web_Scraping_avec_Scrapy.html</a></li>
    <li><a href='notebooks/Web-Scraping/Exercice/4_Scrape_Car_Attributs_Using_Requests.html'>4_Scrape_Car_Attributs_Using_Requests.html</a></li>
    </ul>
  </li>
  <li>Solution
    <ul>
    <li><a href='notebooks/Web-Scraping/Solution/1_Web_Scrapping_with_Selenium.html'>1_Web_Scrapping_with_Selenium.html</a></li>
    <li><a href='notebooks/Web-Scraping/Solution/2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html'>2_Scrape_VIN_number_using_BeautifulSoup_and_Request.html</a></li>
    <li><a href='notebooks/Web-Scraping/Solution/3_Web_Scraping_avec_Scrapy.html'>3_Web_Scraping_avec_Scrapy.html</a></li>
    <li><a href='notebooks/Web-Scraping/Solution/4_Scrape_Car_Attributs_Using_Requests.html'>4_Scrape_Car_Attributs_Using_Requests.html</a></li>
    </ul>
  </li>
  </ul>
</li>
</ul>
